.options-container {
  --container-inner-spacing: 1rem 1.5rem;
  --container-radius: 8px;

  --options-spacing: 0.5rem;
  --options-selector-spacing: 3rem;
}

.options-container {
  position: absolute;
  display: flex;
  padding: var(--container-inner-spacing);
  flex-direction: column;
  gap: var(--options-spacing);
  font-size: var(--text-size-md);
  color: var(--text-color-light);
  background-color: var(--foreground-color);
  border: 1px solid var(--border-color);
  border-radius: var(--container-radius);
  box-shadow: 0 1px 8px 1px var(--border-color);
  transform: translate(0, 0.6rem);
}

.options-container .option {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--options-selector-spacing);
}